{% extends 'base.html.twig' %} {% block title %}Page d'accueil Stubborn{% endblock %} {% block body
%}

<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" type="text/css" />

<div class="container my-3">
  <div class="row">
    {% for product in products %}
    <div class="col-4">
      <div class="card my-3">
      
        <img
          src="{{ asset('assets/uploads/' ~ product.image) }}"
          alt="{{ product.name }}"
          class=""
        />

        <div class="block-card">
          <div class="">
            <p>{{ product.name }}</p>
            <p>{{ product.price }}€</p>
          </div>
          {% if app.user%}
          <a
            href="{{ path('product.show', { id: product.id }) }}"
            class="btn btn-primary text-light text-decoration-none"
            >Voir</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock %}
