<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}" type="text/css" />

<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="{{ path('app_home') }}">
                <img src={{ asset("assets/images/Logo.png") }} alt="Logo stubborn" class="logo">
            </a>
          <p>Don't compromise on your look</p>
        </div>

        <div class="header-title">
            {% if app.request.get('_route') matches '/admin/' %}
          <h2>Back-Office</h2>
          {% endif %}
        </div>

        <div class="header-nav">
            <ul class="liste">
                <li><a href="{{ path('app_home') }}" class="{% if app.request.get('_route') == 'app_home'%}active{% endif%}">Accueil</a></li>
                {% if app.user %}
                <li><a href="{{ path('app_products') }}" class="{% if app.request.get('_route') == 'app_products'%}active{% endif%}">Boutique</a></li>

                {% if is_granted('ROLE_ADMIN') %}

                {% else %}
                    <!-- Lien pour l'utilisateur connecté (non-admin) -->
                    <li><a href="{{ path('app_cart')}}"  class="{% if app.request.get('_route') == 'app_cart'%}active{% endif%}">Panier</a></li>
                {% endif %}
                
                <li><a href="{{ path('app_logout')}}" class="{% if app.request.get('_route') == 'app_logout'%}active{% endif%}">Déconnexion</a></li>
    
                {% else %}
                <li><a href="{{ path('app_register')}}" class="{% if app.request.get('_route') == 'app_register'%}active{% endif%}">Inscription</a></li>
                <li><a href="{{ path('app_login')}}" class="{% if app.request.get('_route') == 'app_login'%}active{% endif%}">Connexion</a></li>
                {% endif %}
              </ul>
        </div>
    </div>
</header>
